/* Write your code here. */
.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  min-height: 100vh;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .bg-container {
    display: flex;
  }
}
@media screen and (min-width: 576px) {
  .bg-container {
    display: flex;
  }
}
.heading {
  font-size: 34px;

  font-family: "Roboto";
  color: #f8fafc;
}
.first-image {
  width: 200px;
  height: 200px;
}
.second-image {
  width: 200px;
  height: 200px;
}
